[user]
  name = Tim Taylor
  email = tim@tool-man.org

[core]
  autocrlf = input
  safecrlf = true

[alias]
  co = checkout
  wc = whatchanged
  ci = commit
  st = status --short
  hist = log --pretty=format:\"%C(yellow)%h%Creset %ad | %s%d [%an]\" --graph --date=short

[color]
  ui = auto

[merge]
  keepBackup = false
  tool = p4merge

[push]
  default = current

[rebase]
  autosquash = true
