/.Trash/
/.Xauthority
/.rnd
/.eclipse_keyring

# history/cache type files
/.history
/.recentf
/.viminfo
/*_history
/.lesshst
/.ido.last
/.irb-history
/.ivy2/

# zsh, oh-my-zsh
.zcompdump
.zsh-update

# s3kr3ts!
/.ssh/
/.twitter

# don't care to track for now
/.wireshark

# already a git repo
/.nvm/
/.svm/
/.oh-my-zsh/
/.flow/
